.header{
    display: flex;
    background-color: black;
    background: none;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 15px;
    margin-top: 15px;
    z-index: 100;
}

.header a{
    text-decoration: none;
}

.header_center{
    flex: 1;
    display: flex;
    justify-content: center;
}
h2{
    text-transform: uppercase;
}
button{
    margin: 10px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
}

a{
    text-transform: uppercase;
}
.drop_down{
    position: relative;
    display: inline-block;

}
.about_teams_content{
    display: none;
}
.vrc_teams{
    display: none;
}

.iq_indv_teams{
    display: none;
}

.drop_down:hover .about_teams_content {display: block;}
.vrc_teams__all:hover .vrc_teams {display: block;}

.about_teams_content:hover .iq_indv_teams {display: block;}